<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title th:text="${titulo}"></title>
	</head>
	<body>
		<h1 th:text="${titulo}"></h1>
		<ul>
			<li>
				<a th:href="@{/variables/string/} + 'hola mundo'">/variables/string/hola mundo</a>
			</li>
			
			<li>
				<a th:href="@{/variables/string/} + 'hola roberto'">/variables/string/hola roberto</a>
			</li>
			
			<li>
				<a th:href="@{/variables/string/} + 'chao Roberto' + '/' + 7 ">/variables/string/chao Roberto/7</a>
			</li>
		</ul>
	</body>
</html>